body {
    margin: 0;
    font-family: Arial;
}
header {
    display: flex;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 1em;
    box-shadow: 0 0.05em 5px rgb(208, 208, 208);
}
.logo {
    width: 6em;
}

.topContent {
    margin-top: 4em;
}
.topContentPhoto {
    padding: 1em 3em;
}
.photo-grid {
    width: 100%;
}
.topContentText {
    padding: 0 1em;
}
.topContentText h1 {
    margin-bottom: 0.3em;
}
.topContentText p {
    margin-top: 0;
    margin-right: 5em;
    color: gray;
}

.bottomContent {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}
.card {
    margin: 0 1em;
    width: 11em;
}
.cardTop {
    background-color: black;
    border-radius: 1em;
    margin-bottom: 1em;
}
.cardTop img {
    width: 100%;
}
.cardTop div {
    background-color: white;
    position: absolute;
    width: 6em;
    text-align: center;
    font-size: 0.8em;
    padding: 0.2em 0;
    margin: 0.5em;
    border-radius: 0.5em;
}
.cardBottom p {
    margin: 0.2em;
    color: gray;
}